page-gallery {
    .flex-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .flex-box>* {
        margin: 8px;
    }
    .flex-item>img {
        width: 84px;
    }
}