<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list *ngIf="isLog">
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
              {{p.title}}
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<ion-header *ngIf="!isLog">
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="!isLog">
    <ion-input type="email" placeholder="Email" [(ngModel)]="user.email"></ion-input>
    <ion-input type="password" placeholder="Password" [(ngModel)]="user.password"></ion-input>
    <button ion-button clear (click)="login()" [disabled]="!user.email || !user.password">Login</button>
</ion-content>